doctype html

html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
		script(src="/scripts/jquery.min.js")
		script(src="/scripts/bootstrap.min.js")
		script(src="/scripts/printThis.js")
		script(src="/scripts/selection.js")
		script.
			var courses = [#{courses}];
			var selected = [];
		title MasterChoice

	body

		nav.navbar.navbar-default.navbar-fixed-top
			.container-fluid
				.navbar-header
					button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#collapse", aria-expanded="false")
						span.sr-only Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar

					a.navbar-brand(href="/").
						#[img.logo(src="/img/epl.png")]
						MasterChoice
					.navbar-text#name

				.collapse.navbar-collapse#collapse
					ul.nav.navbar-nav.navbar-right
						li.navbar-text Nombre de crédits choisis : #[strong#total]
						li.navbar-text
						li.btn-nav
							button.btn.btn-primary.navbar-btn(data-toggle="modal", data-target="#modal") Plus de détails
						li.btn-nav
							button.btn.btn-primary.navbar-btn(onclick="save();") Sauvegarder
						li.btn-nav
							button.btn.btn-danger.navbar-btn(onclick="reset()") Reset
						li.navbar-text

		.modal.fade#modal(role="dialog")
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal") &times;
						h2 Votre choix de programme
					.modal-body
						h3 Nombre de crédits sur tout le master : #[strong#total2]
						hr
						h3 Première année de Master
						.row
							.col-md-6
								h4 Quadrimestre 1
								p Nombre de crédits : #[strong#q1]
								ul#q1Courses
							.col-md-6
								h4 Quadrimestre 2
								p Nombre de crédits : #[strong#q2]
								ul#q2Courses
						hr
						h3 Deuxième année de Master
						.row
							.col-md-6
								h4 Quadrimestre 1
								p Nombre de crédits : #[strong#q3]
								ul#q3Courses
							.col-md-6
								h4 Quadrimestre 2
								p Nombre de crédits : #[strong#q4]
								ul#q4Courses
						hr
						h3 Détail des options
						.row
							.col-md-4
								h4 Tronc commun
								p#o1
							.col-md-4
								h4 Finalité spécialisée
								p#o2
							.col-md-4
								h4 Autres
								p#o7
						.row
							.col-md-3
								h4 Intelligence artificielle
								p#o3
								p#o3p
							.col-md-3
								h4 Ingénierie logicielle
								p#o4
								p#o4p
							.col-md-3
								h4 Sécurité et réseaux
								p#o5
								p#o5p
							.col-md-3
								h4 Science des données
								p#o6
								p#o6p
					.modal-footer
						button.btn.btn-primary(onclick="printInfo();") Imprimer
						button.btn.btn-default(type="button", data-dismiss="modal") Close

		.container-fluid
			.form-inline.text-center
				.form-group
					label(for="prof") Filtrer par professeur :
					select.form-control#prof
						option#nameProf
						each name in profNames
							option #{name}
					button.btn.btn-primary(onclick="filterProf($('#prof').val());") Filtrer
				.form-group.form-space
				.form-group
					button.btn.btn-primary(onclick="showAll();") Tous
				.form-group.form-space
				.form-group
					label(for="opt") Filtrer par option :
					select.form-control#opt
						option#nameOpt
						each name in optNames
							option #{name}
					button.btn.btn-primary(onclick="filterOpt($('#opt').val());") Filtrer

			.table-responsive#table
				p.text-center wait for it…

		footer
			p A small website to help you choose your Computer Science master program at UCL. &copy; 2017 Sébastien Strebelle
