doctype html

html
	head
		block head
			meta(charset="utf-8")
			meta(name="viewport", content="width=device-width, initial-scale=1")
			link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap.min.css")
			link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
			script(src="/scripts/jquery.min.js")
			script(src="/scripts/bootstrap.min.js")
		block title
			title MasterChoice

	body
		block nav
			nav.navbar.navbar-default.navbar-fixed-top
				.container-fluid
					.nav.navbar-nav
						img.logo(src="/img/epl.png")
					.navbar-header
						a.navbar-brand(href="/") MasterChoice - Create your Program
					.navbar-right
						p.navbar-text Nombre de crédits choisis : …
						button.btn.btn-primary.navbar-btn(data-toggle="modal", data-target="#info") Plus d'informations…
		block content
		block foot
			footer
				p A small website to help you choose your Computer Science master program at UCL. &copy; 2017 Sébastien Strebelle
