doctype html

html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
		script(src="/scripts/jquery.min.js")
		script(src="/scripts/bootstrap.min.js")
		title MasterChoice

	body
		nav.navbar.navbar-default.navbar-fixed-top
			.container-fluid
				.navbar-header
					a.navbar-brand(href="/").
						#[img.logo(src="/img/epl.png")]
						MasterChoice

		.container
			.jumbotron
				h1 Welcome to MasterChoice! We will help you choose your program for your master at UCL.
			h2 First choose you master :
			p
				each master in masters
					a.btn.btn-primary(href="/"+master.code) #{master.name}

		footer.navbar-fixed-bottom
			p A small website to help you choose your master program at UCL. &copy; 2017 Sébastien Strebelle
