.navbar-header {
	padding: 15px;
	text-align: center;
	width: 85%;
}

.navbar-brand {
	float:none;
	font-size: 2em;
}

.logo {
	height: 50px;
}

body {
	padding-top: 75px;
}

footer {
	text-align : center;
	background-color: white;
	color: grey;
}
