.navbar-brand {
	font-size: 2em;
}

.logo {
	height: 50px;
}

.form-space {
	width: 50px;
}

.form-inline {
	margin: 0 -3px 25px;
}

.form-inline .form-group label,
.form-inline .form-group input,
.form-inline .form-group select {
	margin: 0 3px;
}

ul.list-group {
	margin: 0px;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

body {
	padding-top: 100px;
}

footer {
	text-align : center;
	background-color: white;
	color: grey;
}
